.container
  %h2= @task.name
  .form
    = form_with model: @task, url: board_task_path(board_id: params[:board_id], id: params[:id]), method: :put, local: true, multipart: true do |f|
      .form_item
        = f.label :image, class: 'form_label'
        = f.file_field :image

      .form_item
        = f.label :name, 'Name', class: 'form_label'
        = f.text_field :name, class: 'form_text'

      .form_item
        = f.label :desc, 'Descriptionm', class: 'form_label'
        = f.text_area :desc, class: 'form_textfield'

      .form_item
        = f.submit 'Submit', class: 'form_btn'