.container
  .task
    .task_head
      %h2= @task.name
      - if current_user.id == @task.user.id
        .dropdown
          = image_tag('actions.svg', class: 'dropbtn dropbtn_board')
          .dropdown-content
            = link_to 'Edit', edit_board_task_path(board_id: params[:board_id], id: @task)
            = link_to 'Delete', board_task_path(board_id: params[:board_id], id: @task), method: :delete, data: { confirm: '削除してもよろしいですか?' }
    .task_body
      - if @task.image.attached?
        .task_image
          =image_tag @task.image
      .task_desc
        %p= @task.desc
    .comment
      %h3.comment_title Comment
      - @comments.each do |comment|
        .comment_wrapper
          .comment_avatar
            = image_tag 'default-avatar.png'
          .comment_content
            = comment.content
      = link_to '+ Add New Comment', new_board_task_comment_path(board_id: params[:board_id], task_id: params[:id]), class: 'newCardLink comment'