.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_tasks_path(board_id: board.id) do
      .card
        .card_content
          .card_head
            %p.card_title= board.title
            - if current_user.id == board.user.id
              .dropdown
                = image_tag('actions.svg', class: 'dropbtn dropbtn_board')
                .dropdown-content
                  = link_to 'Edit', edit_board_path(board)
                  = link_to 'Delete', board_path(board), method: :delete, data: { confirm: '削除してもよろしいですか?' }
          %p.card_desc= board.desc
          .card_author
            - if board.user&.avatar&.attached?
              = image_tag board.user.avatar
            - else
              = image_tag('default-avatar.png')
            .card_authorDesc
              %p 作成者:
              %p=  User.find(board.user_id).user_name

  = link_to '+ Add New Board', new_board_path, class: 'newCardLink'