!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/

    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap", :rel => "stylesheet"}/


  %body
    %header.header
      %p Boards
      .header_avatar
        - if current_user&.avatar&.attached?
          .dropdown
            = image_tag current_user.avatar, class: 'dropbtn header_avatarImage'
            .dropdown-content.dropdown-content_header
              = link_to 'プロフィール編集', edit_user_registration_path
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - elsif user_signed_in?
          .dropdown
            = image_tag 'default-avatar.png', class: 'dropbtn header_avatarImage'
            .dropdown-content.dropdown-content_header
              = link_to 'プロフィール編集', edit_user_registration_path
              = link_to 'ログアウト', destroy_user_session_path, method: :delete

    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
